// Container
.Featured {
	margin: 24px auto;
	max-width: $max-width;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	text-align: center;
	padding: 1.2rem 0px 12px 0px;

	.Title {
		grid-column: 1 / span 3;
		margin: 0;
		font-family: $font2;
		color: rgba(19,19,19,0.3);
		font-size: 1.2rem;
		line-height: 0;
		text-align: right;
	}

	// Featured Preview
	a {
		padding: 3px 12px;
		border: 3px solid $t-grey;
		border-radius: 3px;
		background-color: rgba(194,157,121,0.1);
		color: $t2;
		transition: 0.15s;
		height: 10rem;

		h3 {
			font-size: 1.6rem;
			margin: 0;
			line-height: 5rem;
			color: rgb(19,19,19);
		}

		p {
			font-size: 1.2rem;
			margin: 0;
			line-height: 3rem;
		}

		&:hover, &:active, &:focus {
			border: 3px solid $t1;
			cursor: pointer;
			text-decoration: none;
		}

	}

	@include respond-to("medium") {
		grid-template-columns: repeat(1, 1fr);

		.Title {
			grid-column: 1 / span 1;
			margin: 0px auto;
			grid-row: 1 / span 1;
		}

		a {
			width: 100%;
			max-width: 500px;
			margin: 0px auto;
			height: unset;
			line-height: 2rem;
		}

		p {
			display: none;
		}

	}

	@include respond-to("small") {

		a {
			width: 90%;
		}

	}

}
